include pysteamtables/lib/*.c
include pysteamtables/lib/*.h
include pysteamtables/CMakeLists.txt
include pysteamtables/steam_tables.pyx
include README.md
include CMakeLists.txt
include conda-recipe/*
